      table, th, td {
      border: 2px solid black;
      padding: 20px;
      border-radius: 10px;
     }
table{
	border-spacing: 10px;
}
th,td{
     background-image: linear-gradient(orange,white,green);
}
.img{
  margin-top: 20px;
}